In [1]:
!rm Chinook.zip 
!rm -rf *.csv

!wget https://github.com/CS639-Data-Management-for-Data-Science/s25/raw/main/p1/Chinook.zip
!unzip -o Chinook.zip

# check what is -O and -o. See if we can merge the last two lines separately and the first two lines separetely

--2025-02-17 04:44:00--  https://github.com/CS639-Data-Management-for-Data-Science/s25/raw/main/p1/Chinook.zip
Resolving github.com (github.com)... 140.82.114.4
Connecting to github.com (github.com)|140.82.114.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/CS639-Data-Management-for-Data-Science/s25/main/p1/Chinook.zip [following]
--2025-02-17 04:44:00--  https://raw.githubusercontent.com/CS639-Data-Management-for-Data-Science/s25/main/p1/Chinook.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 146381 (143K) [application/zip]
Saving to: ‘Chinook.zip’

Chinook.zip         100%[===================>] 142.95K  --.-KB/s    in 0.02s

2025-02-17 04:44:00 (5.86 MB/s) - ‘Chinook.zip’ saved [146381/146381]

Archive:  Chinook.zip
  inflating: Album.csv
  inflating: Artist.csv
  inflating: Customer.csv
  inflating: Employee.csv
  inflating: Genre.csv
  inflating: Invoice.csv
  inflating: InvoiceLine.csv
  inflating: MediaType.csv
  inflating: Playlist.csv
  inflating: PlaylistTrack.csv
  inflating: Track.csv

In [2]:
import os
import pandas as pd
from sqlalchemy import create_engine, text

In [3]:

engine = create_engine(f"mysql+mysqlconnector://root:123456@localhost/Chinook")
conn = engine.connect()
list(conn.execute(text("show tables;")))

[('Album',),
 ('Customer',),
 ('Employee',),
 ('Genre',),
 ('Invoice',),
 ('InvoiceLine',),
 ('MediaType',),
 ('Playlist',),
 ('PlaylistTrack',),
 ('Track',)]

In [4]:
# Get all CSV files in the current directory
csv_files = [file for file in os.listdir() if file.endswith(".csv")]

# Loop through each CSV file and load it into the MySQL database
for file in csv_files:
    table_name = file.replace(".csv", "")  # Extract table name from file name
    df = pd.read_csv(file)  # Load CSV into DataFrame
    df.to_sql(table_name, conn, if_exists="replace", index=False)
    print(f"Loaded {file} ino table {table_name}")

Loaded Customer.csv ino table Customer
Loaded MediaType.csv ino table MediaType
Loaded Employee.csv ino table Employee
Loaded Track.csv ino table Track
Loaded Artist.csv ino table Artist
Loaded InvoiceLine.csv ino table InvoiceLine
Loaded Playlist.csv ino table Playlist
Loaded PlaylistTrack.csv ino table PlaylistTrack
Loaded Invoice.csv ino table Invoice
Loaded Album.csv ino table Album
Loaded Genre.csv ino table Genre

In [5]:
list(conn.execute(text("show tables;")))

[('Album',),
 ('Artist',),
 ('Customer',),
 ('Employee',),
 ('Genre',),
 ('Invoice',),
 ('InvoiceLine',),
 ('MediaType',),
 ('Playlist',),
 ('PlaylistTrack',),
 ('Track',)]

#### Q1

In [6]:
#q1
q1_df = pd.read_sql("select * from Artist where Name = 'Queen'", conn)
q1_df.to_pickle("q1.pkl")

#### Q2

In [7]:
#q2
nested_query = "(select ArtistId from Artist where Name = 'Queen')"
q2_df = pd.read_sql(f"select AlbumId, Title,ArtistId from Album where Album.ArtistId = {nested_query}", conn)
q2_df.to_pickle("q2.pkl")

#### Q3

In [8]:
#q3
nested_query = "(select AlbumId from Album where Album.ArtistId = (select ArtistId from Artist where Name = 'Queen'))"
q3_df = pd.read_sql(f"select * from Track where Track.AlbumId in {nested_query}", conn)
q3_df.to_pickle("q3.pkl")

#### Q4

In [9]:
#q4
nested_query = "(select AlbumId from Album where Album.ArtistId = (select ArtistId from Artist where Name = 'Queen'))"
q4_df = pd.read_sql(f"select count(*) as TotalQueenTracks from Track where Track.AlbumId in {nested_query} and Composer like '%Queen%'", conn)
q4_df.to_pickle("q4.pkl")

#### Q5

In [10]:
#q5

q5_df = pd.read_sql("SELECT DISTINCT Composer FROM Track WHERE AlbumId IN (SELECT AlbumId FROM Album WHERE ArtistId = (SELECT ArtistId from Artist WHERE name='Queen')) ",conn)
q5_df.to_pickle("q5.pkl")

#### Q6

In [11]:
#q6

q6_df = pd.read_sql("SELECT * FROM Track WHERE AlbumId IN (SELECT AlbumId FROM Album WHERE ArtistId = (SELECT ArtistId from Artist WHERE name='Queen'))  ORDER BY Milliseconds DESC LIMIT 5 ",conn)
q6_df.to_pickle("q6.pkl")

#### Q7

In [12]:
#q7

q7_df = pd.read_sql("SELECT * FROM Track WHERE AlbumId IN (SELECT AlbumId FROM Album WHERE ArtistId = (SELECT ArtistId from Artist WHERE name='Queen')) AND Bytes <6000000  ",conn)
q7_df.to_pickle("q7.pkl")

#### Q8

In [13]:
#q8

q8_df = pd.read_sql("SELECT Name,Milliseconds/60000 as DurationMinutes,Bytes/1000000 as FileSize FROM Track WHERE AlbumId IN (SELECT AlbumId FROM Album WHERE ArtistId = (SELECT ArtistId from Artist WHERE name='Queen')) ",conn)
q8_df.to_pickle("q8.pkl")

#### Q9

In [14]:
#q9

q9_df = pd.read_sql("SELECT CustomerId, FirstName, LastName, State from Customer WHERE Country='USA' order by State asc",conn)
q9_df.to_pickle("q9.pkl")

#### Q10

In [15]:
#q10
q10_df = pd.read_sql("SELECT * from Invoice where Total > 20",conn)
q10_df.to_pickle("q10.pkl")

#### Q11

In [16]:
#q11
q11_df = pd.read_sql("SELECT * from Invoice where Year(InvoiceDate) = 2021",conn)
q11_df.to_pickle("q11.pkl")

#### Q12

In [17]:
#q12
nested_query = "(SELECT CustomerId from Customer where FirstName = 'Eduardo' and LastName = 'Martins')"
q12_df = pd.read_sql(f"select sum(Total) as TotalSpent from Invoice where CustomerId = {nested_query}",conn)
q12_df.to_pickle("q12.pkl")

#### Q13

In [18]:
#q13
q13_df = pd.read_sql(f"select * from Customer where Country = 'USA' and Company is Null",conn)
q13_df.to_pickle("q13.pkl")

#### Q14

In [19]:
#q14
q14_df = pd.read_sql(f"select * from Employee   where Country = 'Canada'",conn)
q14_df.to_pickle("q14.pkl")

#### Q15

In [20]:
#q15
q15_df = pd.read_sql("select FirstName, LastName, Total from Customer c JOIN Invoice i on c.CustomerId = i.CustomerId order by LastName ASC, Total ASC", conn)
q15_df.to_pickle("q15.pkl")

#### Q16

In [21]:
#q16
q16_df = pd.read_sql("select Distinct(c.CustomerId), FirstName, LastName from Customer c JOIN Invoice i on c.CustomerId = i.CustomerId Join InvoiceLine il using (InvoiceId) where il.TrackId in (select TrackId from Track where Track.AlbumId in (select AlbumId from Album where Album.ArtistId = (select ArtistId from Artist where Name = 'Queen'))) order by c.CustomerId", conn)
q16_df.to_pickle("q16.pkl")

#### Q17

In [22]:
#q17
q17_df = pd.read_sql("select Distinct(InvoiceId), InvoiceDate, BillingCountry, Total from Invoice i Join InvoiceLine il using (InvoiceId) where il.TrackId in (select TrackId from Track where Track.AlbumId in (select AlbumId from Album where Album.ArtistId = (select ArtistId from Artist where Name = 'Queen'))) order by i.InvoiceId", conn)
q17_df.to_pickle("q17.pkl")

#### Q18

In [23]:
#q18
q18_df = pd.read_sql("select TrackId, t.Name as TrackName, a.Title as AlbumTitle, mt.Name as MediaTypeName from Track t Join MediaType mt using (MediaTypeId) Join Album a using (AlbumId) where t.TrackId in (select TrackId from Track where Track.AlbumId in (select AlbumId from Album where Album.ArtistId = (select ArtistId from Artist where Name = 'Queen'))) order by t.TrackId", conn)
q18_df.to_pickle("q18.pkl")

#### Q19

In [24]:
#q19
q19_df = pd.read_sql("select TrackId, t.Name as TrackName, g.Name as GenreName from Track t Join Genre g using (GenreId) where t.TrackId in (select TrackId from Track where Track.AlbumId in (select AlbumId from Album where Album.ArtistId = (select ArtistId from Artist where Name = 'Queen'))) order by t.TrackId", conn)
q19_df.to_pickle("q19.pkl")

#### Q20

In [25]:
#q20
q20_df = pd.read_sql("select Distinct(i.InvoiceId), i.InvoiceDate, BillingCity, BillingState, c.CustomerId from Customer c JOIN Invoice i on c.CustomerId = i.CustomerId Join InvoiceLine il using (InvoiceId) where il.TrackId in (select TrackId from Track where Track.AlbumId in (select AlbumId from Album where Album.ArtistId = (select ArtistId from Artist where Name = 'Queen'))) and c.Country = 'USA' order by i.InvoiceId", conn)
q20_df.to_pickle("q20.pkl")

#### Q21

In [26]:
#q21
q21_df = pd.read_sql("select Distinct(p.Name) as PlaylistName from Playlist p JOIN PlaylistTrack pt using (PlaylistId) where pt.TrackId in (select TrackId from Track where Track.AlbumId in (select AlbumId from Album where Album.ArtistId = (select ArtistId from Artist where Name = 'Queen'))) order by p.Name", conn)
q21_df.to_pickle("q21.pkl")

#### Q22

In [27]:
#q22
q22_df = pd.read_sql("select Distinct(e.EmployeeId), e.FirstName, e.LastName from Customer c JOIN Employee e on c.SupportRepId = e.EmployeeId Join Invoice i using (CustomerID) Join InvoiceLine il using (InvoiceId) where il.TrackId in (select TrackId from Track where Track.AlbumId in (select AlbumId from Album where Album.ArtistId = (select ArtistId from Artist where Name = 'Queen'))) order by e.EmployeeId", conn)
q22_df.to_pickle("q22.pkl")

In [28]:
conn.execute(text("""
    ALTER TABLE Album MODIFY Title VARCHAR(255) COLLATE utf8mb4_general_ci;
"""))

conn.execute(text("""
    SET collation_connection = 'utf8mb4_general_ci';
"""))

#### Q23

In [29]:
#q23
q23_df = pd.read_sql("select ab.Title as AlbumTitle, at.Name as ArtistName from Album ab LEFT JOIN Artist at using (ArtistId) order by AlbumTitle ASC, ArtistName ASC", conn)
q23_df.to_pickle("q23.pkl")

#### Q24

In [30]:
#q24
q24_df = pd.read_sql("""
    SELECT a.Name as ArtistName, al.Title as AlbumTitle 
    FROM Album al 
    RIGHT JOIN Artist a ON al.ArtistId = a.ArtistId 
    ORDER BY ArtistName ASC,AlbumTitle ASC
""", conn)
q24_df.to_pickle("q24.pkl")

#### Q25

In [31]:
#q25
q25_df = pd.read_sql("SELECT GenreId, COUNT(*) as TrackCount FROM Track GROUP BY GenreId ORDER BY TrackCount DESC,GenreId ASC ",conn)
q25_df.to_pickle("q25.pkl")

#### Q26

In [32]:
#q26
q26_df = pd.read_sql("""SELECT t.AlbumId, a.Title as AlbumTitle,SUM(Milliseconds)/3600000 as TotalDurationHours FROM 
Track t JOIN Album a USING (AlbumId) GROUP BY t.AlbumId,a.Title  ORDER BY TotalDurationHours DESC LIMIT 5  """,conn)

q26_df.to_pickle("q26.pkl")

#### Q27

In [33]:
#q27
q27_df = pd.read_sql("""SELECT a.Title AS AlbumTitle, COUNT(DISTINCT GenreId) as GenreCount FROM 
Track t JOIN Album a USING (AlbumId) GROUP BY t.AlbumId,a.Title HAVING COUNT(DISTINCT GenreId)>1 ORDER BY GenreCount DESC,AlbumTitle Asc """,conn)

q27_df.to_pickle("q27.pkl")

#### Q28

In [34]:
#q28
q28_df = pd.read_sql("""SELECT 
    art.Name AS ArtistName, 
    SUM(il.UnitPrice * il.Quantity) AS TotalRevenue 
FROM Artist art
JOIN Album a USING (ArtistId)
JOIN Track t USING (AlbumId)
JOIN InvoiceLine il USING (TrackId)
GROUP BY art.Name
ORDER BY TotalRevenue DESC, ArtistName ASC;
""",conn)
q28_df.to_pickle("q28.pkl")

#### Q29

In [35]:
#q29
q29_df = pd.read_sql("""
SELECT g.Name as GenreName ,AVG(Milliseconds)/60000 as AverageDurationMinutes
FROM Track t
join Genre g USING (GenreId)
group by g.Name 
HAVING AverageDurationMinutes>20
ORDER BY AverageDurationMinutes DESC
""",conn)
q29_df.to_pickle("q29.pkl")

#### Q30

In [36]:
#q30
q30_df = pd.read_sql("""WITH CustomerExpenditure AS (
    SELECT 
        c.CustomerId, 
        c.FirstName, 
        c.LastName, 
        SUM(il.UnitPrice * il.Quantity) AS TotalExpenditure
    FROM Customer c 
    JOIN Invoice i ON c.CustomerId = i.CustomerId 
    JOIN InvoiceLine il USING (InvoiceId) 
    WHERE il.TrackId IN (
        SELECT TrackId 
        FROM Track 
        WHERE Track.AlbumId IN (
            SELECT AlbumId FROM Album 
            WHERE Album.ArtistId = (
                SELECT ArtistId FROM Artist WHERE Name = 'Queen'
            )
        )
    ) 
    GROUP BY c.CustomerId, c.FirstName, c.LastName
)
SELECT 
    CustomerId, 
    FirstName, 
    LastName, 
    TotalExpenditure, 
    RANK() OVER (ORDER BY TotalExpenditure DESC) AS ExpenditureRank
FROM CustomerExpenditure
ORDER BY TotalExpenditure DESC, CustomerId ASC;
""", conn)
q30_df.to_pickle("q30.pkl")

#### Q31

In [37]:
#q31
q31_df = pd.read_sql("""
with cte as
(
select TrackId, Name as TrackName,Milliseconds, Milliseconds/60000.0 as DurationMinutes
from Track
)
select TrackId,TrackName,DurationMinutes,
rank() over(order by Milliseconds desc) as DurationRank
from cte
order by DurationRank asc, DurationMinutes desc,TrackId asc

""",conn)
q31_df.to_pickle("q31.pkl")

#### Q32

In [38]:
#q32
q32_df = pd.read_sql("""WITH CustomerExpenditure AS (
    SELECT 
        c.CustomerId, 
        c.FirstName, 
        c.LastName, 
        SUM(il.UnitPrice * il.Quantity) AS TotalExpenditure
    FROM Customer c 
    JOIN Invoice i ON c.CustomerId = i.CustomerId 
    JOIN InvoiceLine il USING (InvoiceId) 
    WHERE il.TrackId IN (
        SELECT TrackId 
        FROM Track 
        WHERE Track.AlbumId IN (
            SELECT AlbumId FROM Album 
            WHERE Album.ArtistId = (
                SELECT ArtistId FROM Artist WHERE Name = 'Queen'
            )
        )
    ) 
    GROUP BY c.CustomerId, c.FirstName, c.LastName
)
SELECT 
    CustomerId, 
    FirstName, 
    LastName, 
    TotalExpenditure, 
    RANK() OVER (ORDER BY TotalExpenditure DESC) AS ExpenditureRank
FROM CustomerExpenditure
ORDER BY TotalExpenditure DESC, CustomerId ASC;
""", conn)
q32_df.to_pickle("q32.pkl")

#### Q33

In [39]:
#q33
q33_df = pd.read_sql("""
with cte as(
SELECT CustomerId, FirstName, LastName, COUNT(*) as InvoicesCount
from Customer c join Invoice i USING (CustomerId)
group by c.CustomerId,FirstName, LastName
)

SELECT CustomerId, FirstName, LastName, InvoicesCount, 
RANK() OVER(ORDER BY InvoicesCount DESC,LastName ASC ) as InvoiceRank
from cte
""", conn)
q33_df.to_pickle("q33.pkl")

#### Q34

In [40]:
#q34
q34_df = pd.read_sql("""
with cte as(
SELECT BillingCountry, Total,InvoiceId,
RANK() OVER(partition by BillingCountry ORDER BY Total desc) as InvoiceRank
FROM Invoice
)
SELECT BillingCountry, Total,InvoiceId,InvoiceRank
FROM cte
WHERE InvoiceRank<=3
ORDER BY BillingCountry asc,Total desc, InvoiceId asc
""", conn)
q34_df.to_pickle("q34.pkl")

#### Q35

In [41]:
#q35
q35_df = pd.read_sql("""
with cte as(
SELECT DATE_FORMAT(InvoiceDate, '%Y-%m') as Month, SUM(Total) as MonthlySales
from Invoice
group by Month
)

select Month,MonthlySales,
avg(MonthlySales) over(order by Month 
rows between 2 preceding and current row) as MovingAverageSales
from cte
order by Month asc
""", conn)
q35_df.to_pickle("q35.pkl")